* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    background: #222;
}
#gameCanvas {
    display: block;
    background: #87CEEB; /* jasne niebo jako tymczasowe tło */
    width: 100vw;
    height: 100vh;
}
